<table class="table table-striped">
    <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
  <tbody><tr>
    <td class="col-md-2"></td>
    <td class="col-md-3"><a href="./setup/">Setup</a></td>
    <td class="col-md-7">Download files required for the lesson</td>
  </tr>
    <tr>
      <td class="col-md-2">09:00</td>
      <td class="col-md-3">
    1. <a href="./01-run-quit/index.html">Running and Quitting</a>
      </td>
      <td class="col-md-7">
              How can I run Python programs?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">09:15</td>
      <td class="col-md-3">
    2. <a href="./02-variables/index.html">Variables and Assignment</a>
      </td>
      <td class="col-md-7">
              How can I store data in programs?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">09:35</td>
      <td class="col-md-3">
    3. <a href="./03-types-conversion/index.html">Data Types and Type Conversion</a>
      </td>
      <td class="col-md-7">
              What kinds of data do programs store?
              <br>
              How can I convert one type to another?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">09:55</td>
      <td class="col-md-3">
    4. <a href="./04-built-in/index.html">Built-in Functions and Help</a>
      </td>
      <td class="col-md-7">
              How can I use built-in functions?
              <br>
              How can I find out what they do?
              <br>
              What kind of errors can occur in programs?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">10:20</td>
      <td class="col-md-3">
    5. <a href="./05-coffee/index.html">Morning Coffee</a>
      </td>
      <td class="col-md-7">
          Break
      </td>
    </tr>
    <tr>
      <td class="col-md-2">10:35</td>
      <td class="col-md-3">
    6. <a href="./06-libraries/index.html">Libraries</a>
      </td>
      <td class="col-md-7">
              How can I use software that other people have written?
              <br>
              How can I find out what that software does?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">10:55</td>
      <td class="col-md-3">
    7. <a href="./07-reading-tabular/index.html">Reading Tabular Data into DataFrames</a>
      </td>
      <td class="col-md-7">
              How can I read tabular data?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">11:15</td>
      <td class="col-md-3">
    8. <a href="./08-data-frames/index.html">Pandas DataFrames</a>
      </td>
      <td class="col-md-7">
              How can I do statistical analysis of tabular data?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">11:45</td>
      <td class="col-md-3">
    9. <a href="./09-plotting/index.html">Plotting</a>
      </td>
      <td class="col-md-7">
              How can I plot my data?
              <br>
              How can I save my plot for publishing?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">12:15</td>
      <td class="col-md-3">
    10. <a href="./10-lunch/index.html">Lunch</a>
      </td>
      <td class="col-md-7">
          Break
      </td>
    </tr>
    <tr>
      <td class="col-md-2">13:00</td>
      <td class="col-md-3">
    11. <a href="./11-lists/index.html">Lists</a>
      </td>
      <td class="col-md-7">
              How can I store multiple values?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">13:20</td>
      <td class="col-md-3">
    12. <a href="./12-for-loops/index.html">For Loops</a>
      </td>
      <td class="col-md-7">
              How can I make a program do many things?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">13:45</td>
      <td class="col-md-3">
    13. <a href="./13-looping-data-sets/index.html">Looping Over Data Sets</a>
      </td>
      <td class="col-md-7">
              How can I process many data sets with a single command?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">14:00</td>
      <td class="col-md-3">
    14. <a href="./14-writing-functions/index.html">Writing Functions</a>
      </td>
      <td class="col-md-7">
              How can I create my own functions?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">14:25</td>
      <td class="col-md-3">
    15. <a href="./15-scope/index.html">Variable Scope</a>
      </td>
      <td class="col-md-7">
              How do function calls actually work?
              <br>
              How can I determine where errors occurred?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">14:45</td>
      <td class="col-md-3">
    16. <a href="./16-coffee/index.html">Afternoon Coffee</a>
      </td>
      <td class="col-md-7">
          Break
      </td>
    </tr>
    <tr>
      <td class="col-md-2">15:00</td>
      <td class="col-md-3">
    17. <a href="./17-conditionals/index.html">Conditionals</a>
      </td>
      <td class="col-md-7">
              How can programs do different things for different data?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">15:25</td>
      <td class="col-md-3">
    18. <a href="./18-style/index.html">Programming Style</a>
      </td>
      <td class="col-md-7">
              How can I make my programs more readable?
              <br>
              How do most programmers format their code?
              <br>
              How can programs check their own operation?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">15:55</td>
      <td class="col-md-3">
    19. <a href="./19-wrap/index.html">Wrap-Up</a>
      </td>
      <td class="col-md-7">
              What have we learned?
              <br>
              What else is out there and where do I find it?
      </td>
    </tr>
    <tr>
      <td class="col-md-2">16:15</td>
      <td class="col-md-3">
    20. <a href="./20-feedback/index.html">Feedback</a>
      </td>
      <td class="col-md-7">
              How did the class go?
      </td>
    </tr>
  <tr>
    <td class="col-md-2">16:30</td>
    <td class="col-md-3">Finish</td>
    <td class="col-md-7"></td>
  </tr>
  </tbody></table>
